.button {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: url(../assets/arrow.svg);
  background-color: rgb(224, 224, 224);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
