.main-content {
  padding: 30px 40px 40px 40px;
  background-color: rgb(255, 255, 255);
}

.main-content-table {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 430px;
}

.content-table {
  color: rgb(186, 27, 117);
}

.loader {
  padding-top: 100px;
  text-align: center;
}
