.event-main-container {
  padding: 30px 40px 40px 40px;
}

.event-image {
  width: 100%;
  height: 250px;
}

.image {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.event-details {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 20px 20px 20px 20px;
  background-color: rgb(248, 248, 248);
}

.event-nearby-places {
  margin-left: 10px;
}
span {
  color: rgb(105, 105, 105);
}
