header {
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  text-align: center;
  position: relative;
}

header :before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -10px;
  height: 25px;
  width: 100%;
  background-image: linear-gradient(
    rgba(241, 241, 243, 1),
    rgba(241, 241, 243, 0)
  );
}
