.logo {
  display: inline-block;
  height: 40px;
  width: 120px;
  margin-top: 15px;
  background: url(../assets/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
